# Join  e tratamentos dos DataFrames

In [1]:
import pandas as pd

In [2]:
# Abrindo o dataset com dados de clima
clima = pd.read_csv('clima_SemEpi.csv', sep = ',')
clima.head()

         data  precip    temp  temp_max  temp_min  SemEpi    umid
0  2017-01-01   0.000  23.550    24.263    22.588       1  58.583
1  2017-01-08   0.002  18.092    18.817    17.434       2  65.887
2  2017-01-15   0.595  19.369    20.082    18.822       3  77.362
3  2017-01-22   0.060  21.195    21.936    20.527       4  68.619
4  2017-01-29   0.010  22.143    22.997    21.401       5  64.881

In [3]:
# Abrindo o dataset com os dados de status das ovitrampas
ovi = pd.read_csv('ovi_SemEpi.csv', sep = ',')
ovi.head()

   SemEpi  Status
0       1       0
1       1       0
2       1       0
3       1       0
4       1       1

In [4]:
# Fazendo o join das planilhas de ovitrampas com os dados meteorológicos
ovi_clima = ovi.join(clima.set_index('SemEpi'), on='SemEpi')

In [5]:
ovi_clima.head()

   SemEpi  Status        data  precip   temp  temp_max  temp_min    umid
0       1       0  2017-01-01     0.0  23.55    24.263    22.588  58.583
1       1       0  2017-01-01     0.0  23.55    24.263    22.588  58.583
2       1       0  2017-01-01     0.0  23.55    24.263    22.588  58.583
3       1       0  2017-01-01     0.0  23.55    24.263    22.588  58.583
4       1       1  2017-01-01     0.0  23.55    24.263    22.588  58.583

In [6]:
# Verificando os tipos das variáveis
print (ovi_clima.dtypes)

SemEpi        int64
Status        int64
data         object
precip      float64
temp        float64
temp_max    float64
temp_min    float64
umid        float64
dtype: object

In [7]:
# procurando valores nulos
print(ovi_clima.isnull().sum())

SemEpi      0
Status      0
data        0
precip      0
temp        0
temp_max    0
temp_min    0
umid        0
dtype: int64

In [8]:
# procurando células vazias
print(ovi_clima.isna().sum())

SemEpi      0
Status      0
data        0
precip      0
temp        0
temp_max    0
temp_min    0
umid        0
dtype: int64

In [9]:
# Visualizar os dados estatísticos
ovi_clima.describe()

,SemEpi,Status,precip,temp,temp_max,temp_min,umid
count,34810.000000,34810.000000,34810.000000,34810.000000,34810.000000,34810.00000,34810.000000
mean,22.286240,0.371416,0.101959,19.123099,19.884148,18.41118,68.385607
std,12.011675,0.483190,0.145951,1.706381,1.711683,1.67662,6.813831
min,1.000000,0.000000,0.000000,15.280000,16.061000,14.58800,56.686000
25%,13.000000,0.000000,0.000000,17.834000,18.612000,17.02200,64.119000
50%,23.000000,0.000000,0.012000,19.327000,20.082000,18.65400,67.869000
75%,33.000000,1.000000,0.200000,20.161000,20.883000,19.42900,73.098000
max,42.000000,1.000000,0.595000,23.550000,24.263000,22.58800,86.208000

In [10]:
# Salvando o dataset unido
ovi_clima.to_csv('ovi_clima.csv', encoding='utf-8', index=False)